---
title: "Quand utiliser l'ANOVA ?"
summary: "Introduction simple et illustrée pour comprendre à quoi servent les tests ANOVA"
date: "2021-11-15"
lastmod: "2021-11-26"
slug: "anova"

tags:
  - Comprendre
categories:
  - Tutoriel

output: 
  blogdown::html_page:
    df_print: kable
    toc: true
    number_sections: true
---


<div id="TOC">
<ul>
<li><a href="#création-du-jeu-de-données-illustratif" id="toc-création-du-jeu-de-données-illustratif"><span class="toc-section-number">1</span> Création du jeu de données illustratif</a></li>
<li><a href="#visualisation-du-plan-dexpérience" id="toc-visualisation-du-plan-dexpérience"><span class="toc-section-number">2</span> Visualisation du plan d’expérience</a></li>
<li><a href="#lanova-en-soi" id="toc-lanova-en-soi"><span class="toc-section-number">3</span> L’ANOVA en soi</a>
<ul>
<li><a href="#regarder-les-données-brutes" id="toc-regarder-les-données-brutes"><span class="toc-section-number">3.1</span> Regarder les données brutes</a></li>
<li><a href="#ecrire-le-modèle" id="toc-ecrire-le-modèle"><span class="toc-section-number">3.2</span> Ecrire le modèle</a></li>
<li><a href="#vérifier-les-hypothèses-du-modèle" id="toc-vérifier-les-hypothèses-du-modèle"><span class="toc-section-number">3.3</span> Vérifier les hypothèses du modèle</a></li>
<li><a href="#procéder-à-lanalyse-de-la-variance-le-test-anova" id="toc-procéder-à-lanalyse-de-la-variance-le-test-anova"><span class="toc-section-number">3.4</span> Procéder à l’analyse de la variance : le test ANOVA</a></li>
</ul></li>
<li><a href="#pour-aller-plus-loin" id="toc-pour-aller-plus-loin"><span class="toc-section-number">4</span> Pour aller plus loin</a></li>
<li><a href="#remerciements" id="toc-remerciements"><span class="toc-section-number">5</span> Remerciements</a></li>
</ul>
</div>

<p>L’<strong>ANOVA</strong> est un type de modèle paramétrique où la variable à expliquer (la réponse) est numérique et les variables explicatives sont catégorielles (des facteurs pour R). Un modèle linéaire, un modèle linéaire généralisé, ou même un modèle mixte par exemple peuvent être des ANOVA (au sens large : <a href="https://stats.stackexchange.com/questions/289226/what-are-the-differences-between-anovas-and-glms">voici une définition plus poussée</a>) tant qu’il n’y a <strong>pas de variable numérique dans les variables explicatives</strong>.</p>
<div id="création-du-jeu-de-données-illustratif" class="section level1" number="1">
<h1><span class="header-section-number">1</span> Création du jeu de données illustratif</h1>
<p>Par exemple, on veut étudier le rendement de canne à sucre entre différentes années (considérées comme indépendantes ici) pour certains traitements selon un plan factoriel complet. Il y a 3 parcelles (répétition) pour chaque combinaison de traitement/année. Le rendement est la variable à expliquer et les années et traitements sont les deux facteurs (potentiellement) explicatifs.</p>
<pre class="r"><code># chargement des packages
library(tidyverse)
library(skimr)

# création d&#39;un jeu de données illustratif
set.seed(123) # pour fixer l&#39;aléatoire et retrouver le même jeu de données
jeu &lt;- tibble(
  Traitement = rep(LETTERS[1:3], each = 9) %&gt;% factor(),
  Annee = paste0(&quot;N&quot;, rep(1:3, times = 3, each = 3)) %&gt;% factor(),
  Rendement = c(rnorm(9, mean = 60, sd = 10), rnorm(9, mean = 35, sd = 10), rnorm(9, mean = 40, sd = 10))
)

skim(jeu) # équivalent plus évolué de summary() ;-)</code></pre>
<table>
<caption><span id="tab:unnamed-chunk-1">Table 1.1: </span>Data summary</caption>
<tbody>
<tr class="odd">
<td align="left">Name</td>
<td align="left">jeu</td>
</tr>
<tr class="even">
<td align="left">Number of rows</td>
<td align="left">27</td>
</tr>
<tr class="odd">
<td align="left">Number of columns</td>
<td align="left">3</td>
</tr>
<tr class="even">
<td align="left">_______________________</td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">Column type frequency:</td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">factor</td>
<td align="left">2</td>
</tr>
<tr class="odd">
<td align="left">numeric</td>
<td align="left">1</td>
</tr>
<tr class="even">
<td align="left">________________________</td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">Group variables</td>
<td align="left">None</td>
</tr>
</tbody>
</table>
<p><strong>Variable type: factor</strong></p>
<table>
<colgroup>
<col width="18%" />
<col width="13%" />
<col width="18%" />
<col width="10%" />
<col width="12%" />
<col width="26%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">skim_variable</th>
<th align="right">n_missing</th>
<th align="right">complete_rate</th>
<th align="left">ordered</th>
<th align="right">n_unique</th>
<th align="left">top_counts</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Traitement</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="left">FALSE</td>
<td align="right">3</td>
<td align="left">A: 9, B: 9, C: 9</td>
</tr>
<tr class="even">
<td align="left">Annee</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="left">FALSE</td>
<td align="right">3</td>
<td align="left">N1: 9, N2: 9, N3: 9</td>
</tr>
</tbody>
</table>
<p><strong>Variable type: numeric</strong></p>
<table>
<colgroup>
<col width="16%" />
<col width="11%" />
<col width="16%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
<col width="6%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">skim_variable</th>
<th align="right">n_missing</th>
<th align="right">complete_rate</th>
<th align="right">mean</th>
<th align="right">sd</th>
<th align="right">p0</th>
<th align="right">p25</th>
<th align="right">p50</th>
<th align="right">p75</th>
<th align="right">p100</th>
<th align="left">hist</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Rendement</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">44.38</td>
<td align="right">15.38</td>
<td align="right">15.33</td>
<td align="right">33.23</td>
<td align="right">39.98</td>
<td align="right">53.76</td>
<td align="right">77.15</td>
<td align="left">▁▇▂▅▁</td>
</tr>
</tbody>
</table>
</div>
<div id="visualisation-du-plan-dexpérience" class="section level1" number="2">
<h1><span class="header-section-number">2</span> Visualisation du plan d’expérience</h1>
<pre class="r"><code># visualisation du plan d&#39;expérience
jeu %&gt;% 
  count(Traitement, Annee) %&gt;% 
  ggplot() +
  aes(x = Traitement, y = Annee, size = n) +
  geom_point()</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/viz-plan-1.png" width="672" /></p>
<pre class="r"><code>
# on peut le faire avec la fonction ftable() aussi</code></pre>
</div>
<div id="lanova-en-soi" class="section level1" number="3">
<h1><span class="header-section-number">3</span> L’ANOVA en soi</h1>
<p>On utilise le test ANOVA (<em>analysis of variance</em>) pour comprendre la <strong>part de variabilité des observations (la variable réponse) imputable à chacun des facteurs</strong> (ainsi que de leurs interactions, si elles sont prises en compte dans le modèle). C’est-à-dire, quelle variabilité du rendement est expliquée par le côté temporel (les années) et les différents traitements ?
Peut-être que les traitements n’ont aucun effet sur la variabilité du rendement ?</p>
<blockquote>
<p>Petite parenthèse :</p>
<p>Je distingue, de manière tout à fait personnelle, les notions de <strong>modèle ANOVA</strong> (le processus qui permet d’estimer des paramètres à partir de nos données) et de <strong>test ANOVA</strong> (on fait des tests statisiques).
Je trouve que c’est trompeur, on utilise le même mot pour plusieurs choses différentes. Alors, j’ai choisi de créer mes mots ;)</p>
</blockquote>
<p>Il est fondamental de procéder par étapes et de ne pas foncer tête baissée dans le test ANOVA, <strong>sous peine de choses affreuses</strong>. Par exemple, conclure à tort qu’il y a un effet significatif.</p>
<div id="regarder-les-données-brutes" class="section level2" number="3.1">
<h2><span class="header-section-number">3.1</span> Regarder les données brutes</h2>
<p>D’abord, on regarde les <strong>données brutes</strong> avec un scatter plot (et pas des box plot seuls, s’il vous plaît ! Allez voir pourquoi <a href="https://www.data-to-viz.com/caveat/boxplot.html">ici</a>).</p>
<pre class="r"><code># visualisation des données
ggplot(jeu) +
  aes(x = Traitement, y = Rendement) +
  geom_boxplot(fill = &quot;transparent&quot;, width = 0.4, outlier.shape = NA) +
  geom_point(aes(color = Annee), position = position_dodge(width = 0.3))</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/viz-donnees-1.png" width="672" /></p>
</div>
<div id="ecrire-le-modèle" class="section level2" number="3.2">
<h2><span class="header-section-number">3.2</span> Ecrire le modèle</h2>
<p>Ensuite, on écrit le modèle. Ici, je choisis d’écrire le <strong>modèle complet</strong>, comprenant l’interaction entre les deux facteurs.
(Notez que <code>~ A * B</code>, peut également s’écrire <code>~ A + B + A:B</code>)</p>
<p>On peut dire que ceci est un modèle <em>“de type ANOVA”</em>, car les variables explicatives sont qualitatives.</p>
<pre class="r"><code># écriture du modèle
modele &lt;- lm(Rendement ~ Traitement * Annee, data = jeu)</code></pre>
</div>
<div id="vérifier-les-hypothèses-du-modèle" class="section level2" number="3.3">
<h2><span class="header-section-number">3.3</span> Vérifier les hypothèses du modèle</h2>
<p>On vérifie les <strong>hypothèses</strong> sous-jacentes du modèle.
Dans le cas d’un modèle linéaire :</p>
<ul>
<li>indépendance des observations,</li>
<li>homogénéité de la variance et normalité des résidus du modèle,</li>
<li>présence d’observations d’influence,</li>
<li>sens biologique/physique - si le modèle prédit un rendement négatif , c’est pas ouf.</li>
</ul>
<pre class="r"><code># vérification visuelle des hypothèses du modèle
plot(modele)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/modele-1.png" width="45%" /><img src="{{< blogdown/postref >}}index_files/figure-html/modele-2.png" width="45%" /><img src="{{< blogdown/postref >}}index_files/figure-html/modele-3.png" width="45%" /><img src="{{< blogdown/postref >}}index_files/figure-html/modele-4.png" width="45%" /></p>
<p>Pour apprendre à lire ces graphiques de validation, vous pouvez commencer par <a href="https://stats.stackexchange.com/questions/58141/interpreting-plot-lm">ici</a>.</p>
</div>
<div id="procéder-à-lanalyse-de-la-variance-le-test-anova" class="section level2" number="3.4">
<h2><span class="header-section-number">3.4</span> Procéder à l’analyse de la variance : le test ANOVA</h2>
<p>SI les conditions d’application sont respectées, ALORS, on peut enfin analyser les <strong>résultats du modèle</strong> :</p>
<pre class="r"><code># analyse de la variance
anova(modele)</code></pre>
<div class="kable-table">
<table>
<thead>
<tr class="header">
<th align="left"></th>
<th align="right">Df</th>
<th align="right">Sum Sq</th>
<th align="right">Mean Sq</th>
<th align="right">F value</th>
<th align="right">Pr(&gt;F)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Traitement</td>
<td align="right">2</td>
<td align="right">3885.35788</td>
<td align="right">1942.67894</td>
<td align="right">17.3081401</td>
<td align="right">0.0000642</td>
</tr>
<tr class="even">
<td align="left">Annee</td>
<td align="right">2</td>
<td align="right">80.12607</td>
<td align="right">40.06304</td>
<td align="right">0.3569384</td>
<td align="right">0.7046585</td>
</tr>
<tr class="odd">
<td align="left">Traitement:Annee</td>
<td align="right">4</td>
<td align="right">166.07118</td>
<td align="right">41.51780</td>
<td align="right">0.3698994</td>
<td align="right">0.8269386</td>
</tr>
<tr class="even">
<td align="left">Residuals</td>
<td align="right">18</td>
<td align="right">2020.33383</td>
<td align="right">112.24077</td>
<td align="right">NA</td>
<td align="right">NA</td>
</tr>
</tbody>
</table>
</div>
<p>La colonne <code>Pr(&gt;F)</code> donne, pour chaque facteur, la p-valeur de la statistique de test F, c’est-à-dire la probabilité que la F-value soit bien celle calculée en supposant que l’hypothèse nulle (il n’y a pas de différence entre les moyennes des groupes) est vraie.</p>
<p>On en conclue, sans surprise (regardez le code pour créer le jeu de données), que la variabilité du rendement est expliquée par la variable traitement et qu’il n’y a pas d’interaction ni d’effet lié à l’année.</p>
</div>
</div>
<div id="pour-aller-plus-loin" class="section level1" number="4">
<h1><span class="header-section-number">4</span> Pour aller plus loin</h1>
<p>Malheureusement (pour vous), il existe différents types de tests ANOVA (I, II et III), parce que la variance peut se découper de différentes manières :</p>
<ul>
<li><a href="https://stats.stackexchange.com/questions/20452/how-to-interpret-type-i-type-ii-and-type-iii-anova-and-manova">Quelle est la différence entre ces tests ?</a></li>
<li>Dans le doute, utilisez le type III. <a href="https://delladata.fr/carres-de-type-iii-analyse-de-variance/">Comment faire ?</a></li>
</ul>
<p>Pour mieux comprendre les sombres histoires de p-valeurs, vous pouvez lire mon article dédié :</p>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FDoAna974%2Fposts%2F295329049048380&amp;show_text=true&amp;width=500" width="500" height="609" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
</iframe>
<blockquote>
<p>Allez, bon courage !</p>
</blockquote>
</div>
<div id="remerciements" class="section level1" number="5">
<h1><span class="header-section-number">5</span> Remerciements</h1>
<p>Voici une section dédiée à mes deux relectrices biostatisticiennes.
Je les remercie très fort pour leurs propositions d’amélioration de ce texte.
J’ai tout fait pour prendre en compte leurs remarques !</p>
<ul>
<li><a href="https://delladata.fr">Claire Della Vedova</a></li>
<li><a href="https://faunastats.com">Nancy Rebout</a></li>
</ul>
</div>
