---
title: "Collaboration de recherche"
subtitle: "Avoir des résultats valides c'est bien, s'ils sont également **reproductibles**, c'est encore mieux ! Voici les outils statistiques et les logiciels en [license libre](https://fr.wikipedia.org/wiki/Licence_libre) que j'utilise le plus.<p>*Amuse-toi à trier les compétences que tu recherches en déplaçant les différents éléments !* &emsp;<i class='fas fa-long-arrow-alt-right'></i></p>"
widget: "blank"  # See https://sourcethemes.com/academic/docs/page-builder/
headless: true  # This file represents a page section.
active: true  # Activate this widget? true/false
weight: 50 # Order that this section will appear.
design:
  # Choose how many columns the section has. Valid values: 1 or 2.
  columns: "2"
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/rmarkdown-libs/d3/d3.min.js"></script>
<script src="/rmarkdown-libs/sankey/sankey.js"></script>
<script src="/rmarkdown-libs/sankeyNetwork-binding/sankeyNetwork.js"></script>


<div id="htmlwidget-1" style="width:100%;height:600px;" class="sankeyNetwork html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"links":{"source":[0,0,0,0,0,0,0,0,0,1,1,1,2,2,2,2,3,3,3,4,4],"target":[5,6,7,8,9,10,11,12,13,14,15,2,16,17,18,19,2,20,21,2,22],"value":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"group":["analyse","analyse","analyse","analyse","analyse","analyse","analyse","analyse","analyse","prog","prog","prog","prog","donnees","comm","comm","comm","comm","comm","donnees","donnees"]},"nodes":{"name":["Analyse","Programmation","R et RStudio","Communication","Gestion des données","Statistiques descriptives","Analyses de variance","Analyses de covariance","Modélisation linéaire","Modélisation non linéaire","Modélisation à effets mixtes","Analyses multidimensionnelles","Modélisation déterministe","Traitement de l’information spatiale","Gestion de versions avec git","Personnalisation d'interfaces web avec HTML/css","Création de package avec devtools","Manipulation et visualisation des données avec le tidyverse","Création de tableaux de bord interactifs avec shiny","Automatisation de rapports avec rmarkdown","Création de cartes avec QGIS","Création d'images vectorisées avec Inkskape","Saisie des données avec LibreOffice"],"group":["unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique","unique"]},"options":{"NodeID":"names","NodeGroup":"group","LinkGroup":"group","colourScale":"d3.scaleOrdinal() .domain([\"analyse\", \"prog\", \"donnees\", \"comm\", \"unique\"]) .range([\"#057db9\", \"#df4903\", \"#057db9\", \"#df4903\", \"#777777\"])","fontSize":16,"fontFamily":null,"nodeWidth":15,"nodePadding":10,"units":"","margin":{"top":null,"right":null,"bottom":null,"left":null},"iterations":32,"sinksRight":false}},"evals":[],"jsHooks":[]}</script>
