---
title: L'effet Dunning-Kruger n'existe peut-être pas
author: anna-doizy
date: '2024-10-18'
slug: l-effet-dunning-kruger-n-existe-peut-etre-pas
categories:
  - Brève
tags:
  - Sens
  - Transmettre
subtitle: ''
summary: ''
authors: []
featured: no
image:
  caption: ''
  focal_point: ''
  preview_only: no
projects: []
---



<p>🤫 L’effet Dunning-Kruger n’existe peut-être pas</p>
<p>C’est le titre de la dernière vidéo d’Hygiène Mentale.
C’est clairement une de mes chaînes préférées et c’est un petit événement quand une nouvelle vidéo sort.</p>
<p>😯 Alors là, en lisant ce titre, j’étais scotchée !</p>
<p>☝️ Voilà ce qu’une IA (ahhh j’ai osé !) me dit de cet effet :</p>
<p>“L’effet Dunning-Kruger est un biais cognitif où les personnes avec peu de compétences dans un domaine surestiment leurs capacités, tandis que celles plus compétentes ont tendance à sous-estimer les leurs. Cela se produit parce que les moins qualifiés manquent de recul pour évaluer correctement leur propre niveau, tandis que les plus expérimentés sont conscients de la complexité du domaine.”</p>
<p>Bon ben, franchement, j’ai pas envie de spoiler.</p>
<p>🤯 Juste que peut-être que j’ai été dunnigkrugerisée sur l’effet Dunning-Kruger et que je surestimais vachement mes compétences à en parler.
En tous les cas, cette vidéo m’a permis d’éliminer / ajuster quelques fausses croyances.</p>
<p>✌️Elle dure 13 minutes, n’hésite pas !</p>
{{% youtube "-YHR9kAUDHM" %}}
