---
title: "Comment compléter les lignes manquantes d'un jeu de données et les rendre explicites ?"
author: anna-doizy
date: '2024-04-09'
lastmod: "2024-04-17"
slug: completer-lignes-manquantes-explicite
categories:
  - Tutoriel
tags:
  - Comprendre
subtitle: ''
summary: "Récemment, je me suis retrouvée avec un jeu de données correspondant à des piégeages d'insectes où les observations sans insectes piégés n'ont pas été notées. Ici, j'explique comment utiliser la fonction complete() du package tidyr pour ajouter les lignes manquantes et les remplir avec des zéros (où ce que tu veux !)."
authors: []
featured: no
image:
  caption: ''
  focal_point: ''
  preview_only: no
projects: []
---



<p>🪰 Récemment, je me suis retrouvée avec un jeu de données correspondant à des piégeages d’insectes où <strong>les observations sans insectes piégés n’ont pas été notées</strong>.</p>
<p>Ça arrive et c’est normal.</p>
<p>⚙️ Sauf que quand il s’agit de faire des graphiques, puis des modèles stats, selon la question, il est <strong>parfois nécessaire de prendre en compte ces zéros</strong> !</p>
<p>💡 Ici, j’explique comment utiliser la fonction <code>complete()</code> du package <strong>tidyr</strong> pour ajouter les lignes manquantes et les remplir avec des zéros (où ce que tu veux !).</p>
<p>📦 Je montre un cas particulier où la structure des variables est <strong>emboîtée</strong>, ce qui fait que l’utilisation de <code>complete()</code> n’est pas tout à fait triviale.</p>
<div id="chargement-des-packages" class="section level2">
<h2>Chargement des packages</h2>
<pre class="r"><code>library(tibble) # création de tables
library(tidyr) # nettoyage de tables
library(ggplot2) # graphiques
library(dplyr) # manipulation de tables</code></pre>
<blockquote>
<p><strong>Remarque</strong> : les packages du tidyverse les plus couramment utilisés dont ceux présents ci-dessus peuvent être chargé en une seule ligne de commande avec <code>library(tidyverse)</code>.</p>
</blockquote>
</div>
<div id="création-dun-jeu-de-données-exemple" class="section level2">
<h2>Création d’un jeu de données exemple</h2>
<pre class="r"><code>captures &lt;- tribble(
     ~Site,    ~Date, ~Piege, ~Nb_captures,
  &quot;Site A&quot;, &quot;Date 1&quot;,    &quot;a&quot;,           3L,
  &quot;Site A&quot;, &quot;Date 1&quot;,    &quot;b&quot;,           2L,
  &quot;Site A&quot;, &quot;Date 2&quot;,    &quot;a&quot;,           8L,
  &quot;Site A&quot;, &quot;Date 2&quot;,    &quot;b&quot;,           5L,
  &quot;Site A&quot;, &quot;Date 3&quot;,    &quot;a&quot;,           1L,
  &quot;Site A&quot;, &quot;Date 4&quot;,    &quot;a&quot;,           3L,
  &quot;Site A&quot;, &quot;Date 4&quot;,    &quot;b&quot;,           6L,
  &quot;Site B&quot;, &quot;Date 5&quot;,    &quot;c&quot;,           3L,
  &quot;Site B&quot;, &quot;Date 5&quot;,    &quot;d&quot;,           3L,
  &quot;Site B&quot;, &quot;Date 5&quot;,    &quot;e&quot;,           2L,
  &quot;Site B&quot;, &quot;Date 6&quot;,    &quot;c&quot;,           2L,
  &quot;Site B&quot;, &quot;Date 6&quot;,    &quot;e&quot;,           7L,
  &quot;Site B&quot;, &quot;Date 7&quot;,    &quot;c&quot;,           5L,
  &quot;Site B&quot;, &quot;Date 7&quot;,    &quot;d&quot;,           4L,
  &quot;Site B&quot;, &quot;Date 7&quot;,    &quot;e&quot;,           1L
  )</code></pre>
<p>Il s’agit de données totalement fictives concernant 2 <code>Site</code>s échantillonnés respectivement à 2 et 3 endroits (<code>Piege</code>).
L’objectif est de compter des individus à intervalles de temps régulier aux différents points de capture.</p>
<p>Deux points à noter :</p>
<ul>
<li>Les <code>Date</code>s d’observation n’ont pas été les mêmes pour chaque site.</li>
<li>Quand aucun individu n’a été observé, il n’y a pas de ligne dans le jeu de données (dans l’exemple, dans le <code>site A</code>, la <code>date 3</code> pour le piège <code>b</code> n’est pas présente)</li>
</ul>
<p>Une <strong>table de contingence</strong> (qui compte le nombre d’occurence d’une combinaison d’événements) permet de mettre ça en évidence :</p>
<pre class="r"><code>ftable(Site + Piege ~ Date, data = captures)</code></pre>
<pre><code>##        Site  Site A         Site B        
##        Piege      a b c d e      a b c d e
## Date                                      
## Date 1            1 1 0 0 0      0 0 0 0 0
## Date 2            1 1 0 0 0      0 0 0 0 0
## Date 3            1 0 0 0 0      0 0 0 0 0
## Date 4            1 1 0 0 0      0 0 0 0 0
## Date 5            0 0 0 0 0      0 0 1 1 1
## Date 6            0 0 0 0 0      0 0 1 0 1
## Date 7            0 0 0 0 0      0 0 1 1 1</code></pre>
<p>ou alors</p>
<pre class="r"><code>ftable(Site ~ Piege, data = captures)</code></pre>
<pre><code>##       Site Site A Site B
## Piege                   
## a               4      0
## b               3      0
## c               0      3
## d               0      2
## e               0      3</code></pre>
<p>Si on fait un graphique à ce stade, ça donne, par exemple :</p>
<pre class="r"><code>ggplot(captures) +
  aes(x = Date, y = Nb_captures, colour = Piege, group = Piege) +
  geom_line() +
  geom_point() +
  facet_wrap(~ Site, scales = &quot;free_x&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index.fr_files/figure-html/unnamed-chunk-5-1.png" width="672" /></p>
<p>C’est subtil, mais regarde bien : les lignes <code>b</code> et <code>d</code> ne passent pas par toutes les dates !</p>
</div>
<div id="ajout-des-observations-manquantes-pour-les-rendre-explicite" class="section level2">
<h2>Ajout des observations manquantes pour les rendre explicite</h2>
<p>La fonction <code>complete()</code> du package <strong>tidyr</strong> permet d’écrire de nouvelles lignes dans le jeu de données de telle sorte à préciser qu’il y avait 0 captures dans le piège ces jour-là !</p>
<p>Sauf que comme les dates et les noms des pièges ne sont pas les mêmes dans les 2 sites, ce n’est pas si simple, il faut le préciser à R.</p>
<p>Si on ne précise pas, toutes les combinaisons de site, piège et date sont créées :</p>
<pre class="r"><code>captures %&gt;% 
  complete(Site, Piege, Date, fill = list(Nb_captures = 0)) # fill permet de préciser la valeur de remplacement pour chaque colonne d&#39;intérêt</code></pre>
<pre><code>## # A tibble: 70 × 4
##    Site   Piege Date   Nb_captures
##    &lt;chr&gt;  &lt;chr&gt; &lt;chr&gt;        &lt;int&gt;
##  1 Site A a     Date 1           3
##  2 Site A a     Date 2           8
##  3 Site A a     Date 3           1
##  4 Site A a     Date 4           3
##  5 Site A a     Date 5           0
##  6 Site A a     Date 6           0
##  7 Site A a     Date 7           0
##  8 Site A b     Date 1           2
##  9 Site A b     Date 2           5
## 10 Site A b     Date 3           0
## # ℹ 60 more rows</code></pre>
<p>Or, on s’attend à récupérer :</p>
<ul>
<li>4 dates <span class="math inline">\(\times\)</span> 2 points de capture = 8 lignes pour le site A</li>
<li>3 dates <span class="math inline">\(\times\)</span> 3 points de capture = 9 lignes pour le site B</li>
</ul>
<p>Il faut préciser que les variables <code>Piege</code> et <code>Date</code> sont <strong>emboîtées</strong> dans la variable <code>Site</code> :</p>
<pre class="r"><code>captures_complet &lt;- captures %&gt;% 
  group_by(Site) %&gt;% # un calcul par site
  complete(Date, Piege, fill = list(Nb_captures = 0)) %&gt;% # toutes les combinaisons de date et piège par site
  ungroup() # pour dégrouper le jeu de données

captures_complet</code></pre>
<pre><code>## # A tibble: 17 × 4
##    Site   Date   Piege Nb_captures
##    &lt;chr&gt;  &lt;chr&gt;  &lt;chr&gt;       &lt;int&gt;
##  1 Site A Date 1 a               3
##  2 Site A Date 1 b               2
##  3 Site A Date 2 a               8
##  4 Site A Date 2 b               5
##  5 Site A Date 3 a               1
##  6 Site A Date 3 b               0
##  7 Site A Date 4 a               3
##  8 Site A Date 4 b               6
##  9 Site B Date 5 c               3
## 10 Site B Date 5 d               3
## 11 Site B Date 5 e               2
## 12 Site B Date 6 c               2
## 13 Site B Date 6 d               0
## 14 Site B Date 6 e               7
## 15 Site B Date 7 c               5
## 16 Site B Date 7 d               4
## 17 Site B Date 7 e               1</code></pre>
<p>Hop, et voilà : on obtient bien <code>8 + 9</code> lignes, cette fois.</p>
<p>Un petit graphique pour la fin :</p>
<pre class="r"><code>ggplot(captures_complet) +
  aes(x = Date, y = Nb_captures, colour = Piege, group = Piege) +
  geom_line() +
  geom_point() +
  facet_wrap(~ Site, scales = &quot;free_x&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index.fr_files/figure-html/unnamed-chunk-8-1.png" width="672" /></p>
</div>
