/* global */
html { 
  color: #003f5d;
}

/* change subtitles color */
.section-heading p { 
  color: #003f5d;
}

/* change header style */
h1, h2, h3, h4, h5, h6 {
  color: #003f5d;
  font-weight: 400;
}

/* background image properties (for DoAna illustration) */
.home-section.bg-image {
  padding: 250px 0 250px 0;
  max-width: 2000px;
  margin: auto;
}

/* change services section text color */
.featurette, .featurette h3 {
  color: #003f5d;
}

/* offset content in formation section */
.formation {
  margin-left: 100px;
}

/* change about section text color */
.portrait-title h2, .portrait-title h3, .article-title a, ul.ul-edu li .description p.institution {
  color: inherit;
}

/* change publication section text color */
.author-card .card-text, .author-card .card-subtitle, .author-card .card-title a, .author-card .card-title {
  color: inherit;
}

.page-subtitle {
  color: inherit;
}


/* change projects cards colors */
.card, .card h4 a, .card-text p {
  color: inherit;
}
.card h4 a:hover, .card h4 a:focus {
  color: #057d9b;
  border-bottom: none;
  text-decoration: underline;
}
.card .card-text p {
    color: inherit;
}

/* projects toolbar */
.btn-toolbar .btn:last-child {
  border-radius: 0 3px 3px 0;
}
.btn-toolbar .btn:first-child {
  border-radius: 3px 0 0 3px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-primary {
  color: #effff7;
  background-color: #057d9b;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #effff7;
}
primary.active {
  background-color: #003f5d;
}


/* make "anna doizy" bold in author names */
.article-metadata a {
  font-weight: 800;
  color: inherit;
}


/* turn menu bold and font size bigger */
.navbar-light {
  font-weight: 800;
  font-size: 120%;
}

/* a bit of a hack: justify menu items to the right */
.justify-content-start {
  justify-content: flex-end !important;
}

/* remove margin footer */
footer {
  margin: 0;
}

/* personalise back to top button */
footer a.back-to-top i {
  color: #c9dd72;
}
footer a.back-to-top i:hover {
  color: #df4903;
}


/* change inline code formatting */
pre, code {
  color: #df4903;
  background-color: inherit;
}

/* word wrapping in code chunks */
pre code {
  white-space: pre-wrap;
}

/* modify code chunks colors */
.hljs {
  background: #c9dd72;
  color: #003f5d;
  border-radius: 3px;
}
.hljs-keyword, .hljs-selector-tag, .hljs-subst {
  color: #df4903;
}
.hljs-comment, .hljs-quote {
  color: #057d9b;
}
.hljs-string, .hljs-doctag {
  color: #17930d;
}
.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-attr {
  color: #df4903;
}

/* modify quote style */
blockquote {
  color: inherit;
  border-left: .25rem solid #df4903;
  font-style: italic;
}

/* tags color */
.badge-light {
  color: #effff7;
  background-color: #003f5d;
}
.badge-light[href]:focus, .badge-light[href]:hover {
  background: #057d9b;
}
a.badge:focus, a.badge:hover {
  color: #c9dd72;
}

/* date color */
.article-metadata {
  color: inherit;
}


/* buttons color */
.btn-outline-primary:hover {
    color: #effff7;
}

/* buttons abonnement mailerlite form */
.ml-onclick-form {
  font-size: larger; 
  background-color: #03556a; 
  color:#effff7;
}

.ml-onclick-form:hover {
  background-color: #df4903; 
}

/* contact map */
.map {
  width: 500px;
  height: 100%;
  max-width: 100%;
  margin: 0;
}

/* tables */
table {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
table > tbody > tr:nth-child(2n+1) > td, table > tbody > tr:nth-child(2n+1) > th {
  background-color: #ddf9f3;
}
table > thead > tr > th {
  border-bottom: 2px solid #003f5d;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #003f5d;
}

/* horizontal rules */
hr {
  height: 2px;
  background: #003f5d;
  background-image: linear-gradient(to right, #effff7, #003f5d, #effff7);
}


/* mobile friendly avatar picture */

.wg-about .avatar {
  height: auto;
}


/* gallery images sizing */

.gallery > a > img{
  height: 110px;
  width: auto;
  display: inherit;
  margin: 0;
  padding: 4px;
}



.fb-container {
  margin: auto;
  text-align: center;
}


/* new class for shiny iframes*/

.shiny-iframe {
  min-width: 100%;
  height: 600px !important;
}


