---
title: "Les comparaisons de moyennes avec emmeans"
summary: "Introduction simple et illustrée pour comprendre l'utilité des comparaisons de moyennes"
date: "2021-12-06"
slug: "emmeans"

tags:
  - Comprendre
categories:
  - Tutoriel

output: 
  blogdown::html_page:
    df_print: kable
    toc: true
    number_sections: true
---


<div id="TOC">
<ul>
<li><a href="#rappel-sur-les-données" id="toc-rappel-sur-les-données"><span class="toc-section-number">1</span> Rappel sur les données</a></li>
<li><a href="#le-package-emmeans" id="toc-le-package-emmeans"><span class="toc-section-number">2</span> Le package <strong>emmeans</strong></a>
<ul>
<li><a href="#visualisation-des-intervales-de-confiance-des-moyennes" id="toc-visualisation-des-intervales-de-confiance-des-moyennes"><span class="toc-section-number">2.1</span> Visualisation des intervales de confiance des moyennes</a></li>
<li><a href="#test-de-comparaison-de-moyennes" id="toc-test-de-comparaison-de-moyennes"><span class="toc-section-number">2.2</span> Test de comparaison de moyennes</a>
<ul>
<li><a href="#sans-interaction" id="toc-sans-interaction"><span class="toc-section-number">2.2.1</span> Sans interaction</a></li>
<li><a href="#avec-interaction" id="toc-avec-interaction"><span class="toc-section-number">2.2.2</span> Avec interaction</a></li>
</ul></li>
</ul></li>
<li><a href="#conclusion" id="toc-conclusion"><span class="toc-section-number">3</span> Conclusion</a></li>
<li><a href="#remerciements" id="toc-remerciements"><span class="toc-section-number">4</span> Remerciements</a></li>
</ul>
</div>

<div id="rappel-sur-les-données" class="section level1" number="1">
<h1><span class="header-section-number">1</span> Rappel sur les données</h1>
<p>Reprenons le plan factoriel complet de <a href="/projets/anova">l’introduction à l’ANOVA</a>.</p>
<p>Nous voulions comprendre la variabilité du rendement de la canne à sucre sur 3 années consécutives et pour 3 traitements différents. Il y a 3 répétitions (3 parcelles) pour chaque combinaison année/traitement.</p>
<pre class="r"><code># chargement des packages
library(tidyverse)
library(emmeans)
library(skimr)

# création d&#39;un jeu de données bidon
set.seed(123) # pour fixer l&#39;aléatoire et retrouver le même jeu de données
jeu &lt;- tibble(
  Traitement = rep(LETTERS[1:3], each = 9) %&gt;% factor(),
  Annee = paste0(&quot;N&quot;, rep(1:3, times = 3, each = 3)) %&gt;% factor(),
  Rendement = c(rnorm(9, mean = 30, sd = 10), rnorm(9, mean = 5, sd = 10), rnorm(9, mean = 10, sd = 10))
)

skim(jeu) # équivalent plus évolué de summary() ;-)</code></pre>
<table>
<caption><span id="tab:unnamed-chunk-1">Table 1.1: </span>Data summary</caption>
<tbody>
<tr class="odd">
<td align="left">Name</td>
<td align="left">jeu</td>
</tr>
<tr class="even">
<td align="left">Number of rows</td>
<td align="left">27</td>
</tr>
<tr class="odd">
<td align="left">Number of columns</td>
<td align="left">3</td>
</tr>
<tr class="even">
<td align="left">_______________________</td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">Column type frequency:</td>
<td align="left"></td>
</tr>
<tr class="even">
<td align="left">factor</td>
<td align="left">2</td>
</tr>
<tr class="odd">
<td align="left">numeric</td>
<td align="left">1</td>
</tr>
<tr class="even">
<td align="left">________________________</td>
<td align="left"></td>
</tr>
<tr class="odd">
<td align="left">Group variables</td>
<td align="left">None</td>
</tr>
</tbody>
</table>
<p><strong>Variable type: factor</strong></p>
<table>
<colgroup>
<col width="18%" />
<col width="13%" />
<col width="18%" />
<col width="10%" />
<col width="12%" />
<col width="26%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">skim_variable</th>
<th align="right">n_missing</th>
<th align="right">complete_rate</th>
<th align="left">ordered</th>
<th align="right">n_unique</th>
<th align="left">top_counts</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Traitement</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="left">FALSE</td>
<td align="right">3</td>
<td align="left">A: 9, B: 9, C: 9</td>
</tr>
<tr class="even">
<td align="left">Annee</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="left">FALSE</td>
<td align="right">3</td>
<td align="left">N1: 9, N2: 9, N3: 9</td>
</tr>
</tbody>
</table>
<p><strong>Variable type: numeric</strong></p>
<table style="width:100%;">
<colgroup>
<col width="16%" />
<col width="11%" />
<col width="16%" />
<col width="7%" />
<col width="7%" />
<col width="8%" />
<col width="5%" />
<col width="5%" />
<col width="7%" />
<col width="7%" />
<col width="7%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">skim_variable</th>
<th align="right">n_missing</th>
<th align="right">complete_rate</th>
<th align="right">mean</th>
<th align="right">sd</th>
<th align="right">p0</th>
<th align="right">p25</th>
<th align="right">p50</th>
<th align="right">p75</th>
<th align="right">p100</th>
<th align="left">hist</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Rendement</td>
<td align="right">0</td>
<td align="right">1</td>
<td align="right">14.38</td>
<td align="right">15.38</td>
<td align="right">-14.67</td>
<td align="right">3.23</td>
<td align="right">9.98</td>
<td align="right">23.76</td>
<td align="right">47.15</td>
<td align="left">▁▇▂▅▁</td>
</tr>
</tbody>
</table>
<p>Pour rappel, voici un graphique pour représenter les données :</p>
<pre class="r"><code># visualisation des données
ggplot(jeu) +
  aes(x = Traitement, y = Rendement) +
  geom_boxplot(fill = &quot;transparent&quot;, width = 0.4, outlier.shape = NA) +
  geom_point(aes(color = Annee), position = position_dodge(width = 0.3))</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/viz-1.png" width="672" /></p>
<p>Le résultat du test ANOVA nous indique quels sont les facteurs qui expliquent le mieux la variance du rendement.</p>
<pre class="r"><code># écriture du modèle
modele &lt;- lm(Rendement ~ Traitement * Annee, data = jeu)

# les hypothèses ont déjà été vérifiées dans le post ANOVA

# analyse de la variance
anova(modele)</code></pre>
<div class="kable-table">
<table>
<thead>
<tr class="header">
<th align="left"></th>
<th align="right">Df</th>
<th align="right">Sum Sq</th>
<th align="right">Mean Sq</th>
<th align="right">F value</th>
<th align="right">Pr(&gt;F)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Traitement</td>
<td align="right">2</td>
<td align="right">3885.35788</td>
<td align="right">1942.67894</td>
<td align="right">17.3081401</td>
<td align="right">0.0000642</td>
</tr>
<tr class="even">
<td align="left">Annee</td>
<td align="right">2</td>
<td align="right">80.12607</td>
<td align="right">40.06304</td>
<td align="right">0.3569384</td>
<td align="right">0.7046585</td>
</tr>
<tr class="odd">
<td align="left">Traitement:Annee</td>
<td align="right">4</td>
<td align="right">166.07118</td>
<td align="right">41.51780</td>
<td align="right">0.3698994</td>
<td align="right">0.8269386</td>
</tr>
<tr class="even">
<td align="left">Residuals</td>
<td align="right">18</td>
<td align="right">2020.33383</td>
<td align="right">112.24077</td>
<td align="right">NA</td>
<td align="right">NA</td>
</tr>
</tbody>
</table>
</div>
<p>Il n’y a que le traitement qui a un effet sur la variabilité du rendement et il n’y a pas d’interaction significative entre les années et le traitement.</p>
</div>
<div id="le-package-emmeans" class="section level1" number="2">
<h1><span class="header-section-number">2</span> Le package <strong>emmeans</strong></h1>
<p>Nous aimerions pouvoir comparer les traitements ente eux, parce que nous ne savons pas en quoi ils sont différents les uns des autres.
Par exemple, est-ce que la moyenne des rendements dans le traitement <code>A</code> est statistiquement supérieure à celles des deux autres traitements ?</p>
<p>Pour cela, nous allons procéder à des <strong>tests post-hoc</strong>, c’est-à-dire ayant lieu APRES la création du modèle.</p>
<p>C’est le job du package R <strong>emmeans</strong> !
<strong>emmeans</strong> signifie : <em>estimated marginal means</em>.
En l’occurence, la moyenne du rendement pour le traitement <code>A</code>, TOUTES CHOSES EGALES PAR AILLEURS (ici : pour une année donnée s’il y a un effet lié au facteur <code>Annee</code>), est une moyenne marginale à estimer.</p>
<p>Ce package est très polyvalent, très complet et surtout très pratique.
Le package <strong>emmeans</strong> permet donc :</p>
<ol style="list-style-type: decimal">
<li>d’estimer efficacement les moyennes marginales et leurs intervalles de confiance</li>
<li>de tester si les moyennes sont statistiquement différentes deux à eux (par exemple).</li>
</ol>
<blockquote>
<p>ATTENTION ! N’utilisez SURTOUT PAS les intervalles de confiance des moyennes pour comparer vos traitements entre eux ! Une <em>moyenne</em> est un objet statistique en soi et une <em>différence de moyennes</em> en est un autre. Il ne faut pas mélanger ces concepts.</p>
</blockquote>
<div id="visualisation-des-intervales-de-confiance-des-moyennes" class="section level2" number="2.1">
<h2><span class="header-section-number">2.1</span> Visualisation des intervales de confiance des moyennes</h2>
<pre class="r"><code>emmip(modele, Annee ~ Traitement, CIs = TRUE)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/vis-emmip-1.png" width="672" /></p>
<p>La fonction <code>emmip()</code> représente par défaut des intervales de confiance à 95%.</p>
<p>Si on répétait 100 fois l’expérience, les moyennes estimées tomberaient chacunes à peu près 95 fois dans les intervalles représentés.</p>
</div>
<div id="test-de-comparaison-de-moyennes" class="section level2" number="2.2">
<h2><span class="header-section-number">2.2</span> Test de comparaison de moyennes</h2>
<div id="sans-interaction" class="section level3" number="2.2.1">
<h3><span class="header-section-number">2.2.1</span> Sans interaction</h3>
<p>Nous savons qu’il n’y a pas d’interaction significative entre <code>Annee</code> et <code>Traitement</code> grace au test ANOVA, nous pouvons nous permettre de comparer de manière globale <code>A</code> et <code>B</code>, <code>A</code> et <code>C</code> et <code>B</code> et <code>C</code>.
Comme l’effet <code>Annee</code> n’est pas significatif non plus, nous ne comparons pas les années entre elles.</p>
<p>Nous pouvons réécrire le modèle sans les facteurs et interactions qui ne sont pas significatifs :</p>
<pre class="r"><code>modele_simple &lt;- lm(Rendement ~ Traitement, data = jeu)</code></pre>
<p>Voici comment comparer les traitements deux à deux :</p>
<pre class="r"><code>comparaison &lt;- emmeans(modele_simple, ~ Traitement)

# test multiples de comparaison de moyennes deux à deux
pairs(comparaison)
##  contrast estimate   SE df t.ratio p.value
##  A - B       24.76 4.58 24   5.404  &lt;.0001
##  A - C       26.09 4.58 24   5.694  &lt;.0001
##  B - C        1.33 4.58 24   0.291  0.9546
## 
## P value adjustment: tukey method for comparing a family of 3 estimates</code></pre>
<p>On peut conclure ici que le traitement <code>A</code> est <em>significativement</em> différent des traitements <code>B</code> et <code>C</code>.</p>
<p>La notion de significativité est toute subjective, car elle dépend :</p>
<ul>
<li>de la valeur du seuil <em>alpha</em> du risque de première espèce (<code>0.05</code> par défaut) et</li>
<li>de la configuration de l’ajustement (ajustement de Tukey par défaut).</li>
</ul>
<p>Le <strong>risque de première espèce</strong> (la probabilité de dire “il y a une différence significative” à tort) augmente mathématiquement avec le nombre de tests effectués…</p>
<p>L’<strong>ajustement</strong>, c’est la correction appliquée aux p-valeurs des multiples tests effectuées pour comparer toutes les moyennes entre elles, afin de ne pas dépasser le fameux seuil <em>alpha.</em>
Il existe un tas d’ajustements possibles, selon les cas de figure !</p>
<blockquote>
<p>NB : Les moyennes marginales estimées (ainsi que leurs comparaisons) dépendent forcément d’un modèle.
Exactement comme pour le résultat du test ANOVA, 2 modèles différents donneront des résultats différents.
De même que pour un test ANOVA, il faut donc bien veiller à avoir un bon modèle, qui respecte les hypothèses de validation, avant de se lancer dans un test post-hoc.</p>
</blockquote>
</div>
<div id="avec-interaction" class="section level3" number="2.2.2">
<h3><span class="header-section-number">2.2.2</span> Avec interaction</h3>
<p>Il est judicieux d’étudier la différence entre les traitements <strong>année par année</strong>, dans le cas où il y a une interaction significative entre les années et les traitements.</p>
<p>Voici comment on pourrait le faire :</p>
<pre class="r"><code>comparaison_inter &lt;- emmeans(modele, ~ Traitement | Annee)

# test multiples de comparaison de moyennes deux à deux
pairs(comparaison_inter)
## Annee = N1:
##  contrast estimate   SE df t.ratio p.value
##  A - B      23.766 8.65 18   2.747  0.0337
##  A - C      25.358 8.65 18   2.931  0.0231
##  B - C       1.592 8.65 18   0.184  0.9815
## 
## Annee = N2:
##  contrast estimate   SE df t.ratio p.value
##  A - B      31.531 8.65 18   3.645  0.0050
##  A - C      32.959 8.65 18   3.810  0.0035
##  B - C       1.428 8.65 18   0.165  0.9851
## 
## Annee = N3:
##  contrast estimate   SE df t.ratio p.value
##  A - B      18.970 8.65 18   2.193  0.0996
##  A - C      19.943 8.65 18   2.305  0.0807
##  B - C       0.974 8.65 18   0.113  0.9930
## 
## P value adjustment: tukey method for comparing a family of 3 estimates</code></pre>
<p>Lorsqu’il y a beaucoup de tests, il est plus aisé de visualiser les résultats à l’aide d’un graphique :</p>
<pre class="r"><code># visualisation des résultats des tests
plot(comparaison_inter, comparisons = TRUE)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/vis-emmeans-1.png" width="672" /></p>
<p>Dans ce dernier graphique, les barres bleues sont les intervales de confiance des moyennes estimées et les flèches rouges permettent de les comparer.</p>
<p>Il faut interpréter chaque sous-graphique <strong>indépendamment les uns des autres</strong> (chaque année ici).
Si deux flèches se recoupent, alors la différence entre ces deux moyennes n’est pas <em>significative</em>.</p>
<p>Si l’interaction <code>Annee:Traitement</code> était significative, nous devrions conclure que pour l’année <code>N3</code> il n’y a pas de différence entre les traitement, contrairement aux autres années.</p>
<p>Vous voyez que c’est un peu perturbant, nous avons utilisé les mêmes données, mais nous n’obtenons pas la même conclusion.
Cela provient du fait que nous n’avons pas utilisé le même modèle !
Le modèle sans interaction force la différence entre traitements à rester la même pour toutes les années, alors que graphiquement on peut voir de légères variations.</p>
<p>Il peut aussi arriver le phénomène inverse, c’est-à-dire que l’ANOVA donne un effet significatif mais que emmeans ne trouve pas de différences significatives.</p>
<p>Honnêtement, à titre personnel, je n’aime pas trancher de manière aveugle quand une conclusion est ambivalente.
Comme je l’ai dit plus haut, un seuil à 5% est subjectif.
Mieux vaut afficher les p-valeurs du test ANOVA et des tests de comparaison multiples plutôt que de prendre une décision manichéenne.</p>
<p>Laissez vos lecteurs décider par eux-mêmes si vos découvertes sont significatives au regard des autres découvertes dans un contexte scientifique donné ;-)</p>
</div>
</div>
</div>
<div id="conclusion" class="section level1" number="3">
<h1><span class="header-section-number">3</span> Conclusion</h1>
<p>Et finalement, me direz-vous, pourquoi ne pas calculer simplement la moyenne arithmétique ordinaire de tous les rendements du traitement <code>A</code> ?</p>
<p>Dans le cas, comme ici, où le plan factoriel est parfaitement équilibré (même nombre d’observations pour chaque modalité de chacun des facteurs) et qu’il n’y a pas d’interaction entre les facteurs, alors cela reviendra au même.
Dans tous les autres cas, ce calcul simple peut mener à des interprétations totalement faussées, à cause des interactions et/ou d’un protocole déséquilibré.</p>
<p>Donc :</p>
<ol style="list-style-type: decimal">
<li>faites des graphiques et</li>
<li>utilisez le package <strong>emmeans</strong> pour calculer et comparer vos moyennes proprement.</li>
</ol>
<p>Pour en savoir plus : <a href="https://cran.r-project.org/web/packages/emmeans/vignettes/basics.html" class="uri">https://cran.r-project.org/web/packages/emmeans/vignettes/basics.html</a></p>
</div>
<div id="remerciements" class="section level1" number="4">
<h1><span class="header-section-number">4</span> Remerciements</h1>
<p>Une nouvelle fois, je tiens à remercier <a href="https://delladata.fr">Claire Della Vedova</a> et <a href="https://faunastats.com">Nancy Rebout</a> pour leurs précieux conseils !</p>
</div>
