<footer class="site-footer">
  {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "terms.md" }}
      {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}

  <p class="powered-by">
    <!--{{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}-->
    Le contenu écrit du site est disponible sous licence
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">CC-BY-SA 4.0</a> et le code sous licence 
    <a href="https://mit-license.org/" target="_blank" rel="noopener">MIT</a>
    (&copy; <a href="/" target="_blank" rel="noopener">Anna Doizy | DoAna</a>, 2020-{{now.Year}})
    sauf mention contraire.
    <br>
    Animation titre : &copy; <a href="https://tomdoizy.com/" target="_blank" rel="noopener">Tom Doizy</a> &#8226; 
    Illustration aquarelle : &copy;
    <a href="https://www.laurahedon.com" target="_blank" rel="noopener">Laura Hedon</a> &#8226;
    Photo de profil : &copy;  
    <a href="https://www.marionhallet.com/" target="_blank" rel="noopener">Marion Hallet</a>
  </p>

  <!--{{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}-->

  <p class="powered-by">
    Ce site a été construit avec
    <a href="https://bookdown.org/yihui/blogdown" target="_blank" rel="noopener">blogdown</a>,
    <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a> et
    <a href="https://wowchemy.com/" target="_blank" rel="noopener">Wowchemy</a>
    <br>
    Hébergement et code source : 
    <a href="https://gitlab.com/doana-r/doana-r.gitlab.io" target="_blank" rel="noopener">gitlab.com/doana-r/doana-r.gitlab.io</a>
    <br>
    Statistiques du site (garanties sans cookies) par : 
    <a href="https://plausible.io" target="_blank" rel="noopener">Plausible analytics</a>

    {{ if not (in (slice "docs" "updates") .Type) }}
    <span class="float-right" aria-hidden="true">
      <a href="#" class="back-to-top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p>
</footer>
