---
title: Barres d'erreur
summary: Comment intégrer des barres d'erreur dans les graphiques avec **ggplot2**
date: "2020-04-14"
lastmod: "2020-08-03"
slug: barres-erreur

bibliography: biblio.bib
csl: nature.csl

tags:
  - Comprendre
  - Transmettre
categories:
  - Tutoriel

output:
  blogdown::html_page:
    toc: true
    number_sections: false
    df_print: kable
---


<div id="TOC">
<ul>
<li><a href="#introduction" id="toc-introduction">Introduction</a></li>
<li><a href="#confection-des-cookies-du-jeu-de-données" id="toc-confection-des-cookies-du-jeu-de-données">Confection <del>des cookies</del> du jeu de données</a></li>
<li><a href="#observation-des-données" id="toc-observation-des-données">Observation des données</a></li>
<li><a href="#description-des-données" id="toc-description-des-données">Description des données</a></li>
<li><a href="#remerciements" id="toc-remerciements">Remerciements</a></li>
<li><a href="#bibliographie" id="toc-bibliographie">Bibliographie</a></li>
</ul>
</div>

<div id="introduction" class="section level2">
<h2>Introduction</h2>
<p>L’objectif de ce document est de vous montrer comment vous familiariser avec les <strong>barres d’erreur dans les graphiques</strong> en utilisant <code>ggplot2</code>.
Il ne s’agirait pas d’entraîner une mauvaise interprétation de vos données suite à de malencontreux intervalles.
Si vous confondez écart-type, erreur-type, écart inter-quartile, intervalle de confiance…
L’enjeu est seulement de vous rafraîchir la mémoire et non de vous introduire ces notions en toute rigueur.<br />
<!-- *Last but not least*, ce document me permet de reproduire le code que j'ai utilisé dans la cheatsheet **XXX**. --></p>
<p><strong>Attention !</strong> Dans un souci de minimalisme éhonté, ceci n’est pas un tutoriel de <code>R</code><span class="citation"><sup><a href="#ref-R">1</a></sup></span>, de <code>dplyr</code><span class="citation"><sup><a href="#ref-dplyr">2</a></sup></span> ni encore de <code>ggplot2</code><span class="citation"><sup><a href="#ref-ggplot">3</a>,<a href="#ref-ggplot2">4</a></sup></span>.
Pour en savoir plus sur ces sujets passionnants (oui, sincèrement), allez voir <a href="https://r4ds.had.co.nz/">R for Data Science</a>, disponible gratuitement en ligne<span class="citation"><sup><a href="#ref-wickham">5</a></sup></span>.<br />
Certaines notions de statistiques descriptives sont présentées très succinctement ci-après et de manière beaucoup plus précise dans ce document un peu plus long, mais beaucoup plus rigolo : <a href="https://perso.univ-rennes1.fr/denis.poinsot/Statistiques_%20pour_statophobes/STATISTIQUES%20POUR%20STATOPHOBES.pdf">Statistiques pour statophobes</a><span class="citation"><sup><a href="#ref-poinsot">6</a></sup></span>.</p>
<!-- Ce travail a été écrit avec Rmarkdown [@rmarkdown; @rmarkdown2] et il est mis à disposition selon les termes de la [Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). -->
</div>
<div id="confection-des-cookies-du-jeu-de-données" class="section level2">
<h2>Confection <del>des cookies</del> du jeu de données</h2>
<p>Voici comment simuler un jeu de données montrant l’évolution de la taille des cookies que je viens de faire.
Il y en a(vait) <code>n = 10</code>.
Leur diamètre a été mesuré avant (<code>T0</code>) et après (<code>Tf</code>) leur cuisson.
Pour information, je les ai tous mangés, ils étaient très bons.</p>
<pre class="r"><code># manipulation de tableaux de données
library(dplyr) # group_by et summarise
# création de graphiques élégants
library(ggplot2) # ggplot
# personnaliser le thème des graphiques 
# attention il faut avoir la police xkcd pour que cela fonctionne correctement
library(xkcd) # theme_xkcd

n &lt;- 10 # nombre de cookies

set.seed(3) # pour la reproductibilité du jeu de données
d0 &lt;- rnorm(n, 40, 6) # diamètre initial

jeu &lt;- data.frame(Cookie = factor(rep(1:n, 2)), 
  Temps = rep(c(&quot;T0&quot;, &quot;Tf&quot;), each = n), 
  Diametre = round(c(d0, d0 + rnorm(n, 20, 10)))
  )

jeu</code></pre>
<div class="kable-table">
<table>
<thead>
<tr class="header">
<th align="left">Cookie</th>
<th align="left">Temps</th>
<th align="right">Diametre</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">1</td>
<td align="left">T0</td>
<td align="right">34</td>
</tr>
<tr class="even">
<td align="left">2</td>
<td align="left">T0</td>
<td align="right">38</td>
</tr>
<tr class="odd">
<td align="left">3</td>
<td align="left">T0</td>
<td align="right">42</td>
</tr>
<tr class="even">
<td align="left">4</td>
<td align="left">T0</td>
<td align="right">33</td>
</tr>
<tr class="odd">
<td align="left">5</td>
<td align="left">T0</td>
<td align="right">41</td>
</tr>
<tr class="even">
<td align="left">6</td>
<td align="left">T0</td>
<td align="right">40</td>
</tr>
<tr class="odd">
<td align="left">7</td>
<td align="left">T0</td>
<td align="right">41</td>
</tr>
<tr class="even">
<td align="left">8</td>
<td align="left">T0</td>
<td align="right">47</td>
</tr>
<tr class="odd">
<td align="left">9</td>
<td align="left">T0</td>
<td align="right">33</td>
</tr>
<tr class="even">
<td align="left">10</td>
<td align="left">T0</td>
<td align="right">48</td>
</tr>
<tr class="odd">
<td align="left">1</td>
<td align="left">Tf</td>
<td align="right">47</td>
</tr>
<tr class="even">
<td align="left">2</td>
<td align="left">Tf</td>
<td align="right">47</td>
</tr>
<tr class="odd">
<td align="left">3</td>
<td align="left">Tf</td>
<td align="right">54</td>
</tr>
<tr class="even">
<td align="left">4</td>
<td align="left">Tf</td>
<td align="right">56</td>
</tr>
<tr class="odd">
<td align="left">5</td>
<td align="left">Tf</td>
<td align="right">63</td>
</tr>
<tr class="even">
<td align="left">6</td>
<td align="left">Tf</td>
<td align="right">57</td>
</tr>
<tr class="odd">
<td align="left">7</td>
<td align="left">Tf</td>
<td align="right">51</td>
</tr>
<tr class="even">
<td align="left">8</td>
<td align="left">Tf</td>
<td align="right">60</td>
</tr>
<tr class="odd">
<td align="left">9</td>
<td align="left">Tf</td>
<td align="right">65</td>
</tr>
<tr class="even">
<td align="left">10</td>
<td align="left">Tf</td>
<td align="right">70</td>
</tr>
</tbody>
</table>
</div>
<p>Nous souhaitons (ardemment) comparer le diamètre des cookies entre le moment où ils ont été déposé sur la plaque et leur sortie du four.
En effet, j’ai remarqué qu’ils avaient tendance à s’aplatir pendant la cuisson.</p>
<p><img src="cookies-arrows.png" /></p>
<p>Nous pouvons résumer les données ainsi :</p>
<pre class="r"><code>jeu %&gt;% 
  group_by(Temps) %&gt;% 
  summarise(Diam_Moyen = mean(Diametre), 
    Diam_EcartType = sd(Diametre)
    )</code></pre>
<div class="kable-table">
<table>
<thead>
<tr class="header">
<th align="left">Temps</th>
<th align="right">Diam_Moyen</th>
<th align="right">Diam_EcartType</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">T0</td>
<td align="right">39.7</td>
<td align="right">5.334375</td>
</tr>
<tr class="even">
<td align="left">Tf</td>
<td align="right">57.0</td>
<td align="right">7.630349</td>
</tr>
</tbody>
</table>
</div>
<p>Mais je trouve qu’un tableau est souvent moins parlant qu’un graphique, alors… Allons-y !</p>
</div>
<div id="observation-des-données" class="section level2">
<h2>Observation des données</h2>
<p>Ici, je pose la base des graphiques qui suivront.
Cela évitera ainsi les redondances de code.
Les deux premières lignes (<code>ggplot</code> et <code>aes</code>) sont essentielles, le reste est totalement optionnel.</p>
<pre class="r"><code>base &lt;- ggplot(jeu) +
  # définir le rôle des variables
  aes(x = Temps, y = Diametre, colour = Temps, fill = Temps) + 
  # modifier les titres des axes
  labs(x = &quot;&quot;
       , y = &quot;&quot;
       , subtitle = &quot;Diametre - mm&quot;) + 
  # l&#39;axe y commence par 0 pour une représentation plus réaliste
  coord_cartesian(ylim = c(0, max(jeu$Diametre) + 5), default = T) + 
  # modifie les couleurs manuellement pour colour et fill en même temps
  scale_colour_manual(aesthetics = c(&quot;colour&quot;, &quot;fill&quot;) 
                      , values = c(T0 = &quot;#e69f02&quot;, Tf = &quot;#a65c34&quot;)
                      ) +
  theme_xkcd() + # mon thème préféré
  theme(legend.position = &quot;none&quot; # légende ici inutile
        # rajout des lignes représentant les axes
        , axis.line = element_line(colour = &quot;black&quot;
                                   , arrow = arrow(length = unit(2, &quot;mm&quot;))
                                   )
        , plot.background = element_rect(fill = &quot;transparent&quot;, colour = NA)
        , panel.background = element_rect(fill = &quot;transparent&quot;, colour = NA)
        )</code></pre>
<p>Tout d’abord, observons nos données brutes :</p>
<pre class="r"><code>base + 
  geom_point(size = 2)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/obs-1.png" width="30%" /></p>
<p><strong>Attention !</strong> Les données sont appariées, c’est-à-dire que les cookies mesurés sont les mêmes entre <code>T0</code> et <code>Tf</code>.
Autrement dit, les deux lignes suivantes correspondant aux mesures effectuées sur le premier cookie ne sont pas indépendantes.</p>
<pre class="r"><code>jeu %&gt;% filter(Cookie == 1)</code></pre>
<div class="kable-table">
<table>
<thead>
<tr class="header">
<th align="left">Cookie</th>
<th align="left">Temps</th>
<th align="right">Diametre</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">1</td>
<td align="left">T0</td>
<td align="right">34</td>
</tr>
<tr class="even">
<td align="left">1</td>
<td align="left">Tf</td>
<td align="right">47</td>
</tr>
</tbody>
</table>
</div>
<p>Par la suite, nous ne prendrons pas cela en compte. Pour comparer les moyennes à <code>T0</code> et <code>Tf</code> en toute rigueur , il faudrait faire un test apparié et/ou un modèle linéaire mixte en mettant <code>Cookie</code> en variable aléatoire.
Mais ce n’est pas le sujet ici…</p>
<p>Voilà un exemple de représentation de la non-indépendance de ces données :</p>
<pre class="r"><code>base +
  # nouveau rôle (aes) défini afin de tracer une ligne par Cookie (group)
  geom_line(aes(group = Cookie) 
            , colour = &quot;grey50&quot; # couleur (unique) des lignes
            ) +
  # ordre des commandes important
  # pour que les points viennent par-dessus les lignes
  geom_point(size = 2) 
  </code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/lignes-1.png" width="30%" /></p>
</div>
<div id="description-des-données" class="section level2">
<h2>Description des données</h2>
<p>Pour observer la distribution des données, il est possible de construire un histogramme ou de tracer les densités :</p>
<pre class="r"><code>base +
  # création de nouveaux rôles (aes)
  geom_freqpoly(aes(x = Diametre, colour = Temps)
                # les rôles définis dans base ne sont pas pris en compte
                , inherit.aes = F
                # largeur des classes
                , binwidth = 4
                # épaisseur du trait
                , size = 1
                ) +
  # retrouve le système de coordonnées par défaut
  coord_cartesian()
## Warning: Using `size` aesthetic for lines was deprecated in ggplot2 3.4.0.
## ℹ Please use `linewidth` instead.
## This warning is displayed once every 8 hours.
## Call `lifecycle::last_lifecycle_warnings()` to see where this warning was
## generated.</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/histo-1.png" width="30%" /></p>
<pre class="r"><code>base +
  geom_density(aes(x = Diametre, colour = Temps) 
               , inherit.aes = F 
               , size = 1
               , adjust = 1.5 # paramètre de lissage
               ) +
  coord_cartesian() </code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/densite-1.png" width="30%" /></p>
<p>Plus souvent, on a envie de faire un diagramme en boîtes (<em>boxplot</em>) ou encore un diagramme en bâtons (<em>barplot</em>) :</p>
<pre class="r"><code>base +
  geom_boxplot(width = 0.3 # largeur des boîtes
               , size = 1
               , colour = &quot;grey20&quot; # couleur (unique) des contours
               ) +
  # ajout des tailles d&#39;échantillonage
  annotate(&quot;text&quot;, x = 1:2, y = 75, label = paste(&quot;n =&quot;, n), family = &quot;xkcd&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/box-1.png" width="30%" /></p>
<pre class="r"><code>base +
  # ajout des bâtons
  geom_bar(stat = &quot;summary&quot; # personnalise la hauteur des bâtons
           , fun = &quot;mean&quot; # hauteur des bâtons = moyenne des observations
           , width = 0.3 # largeur des bâtons
           , colour = &quot;grey20&quot; # couleur des bâtons
           , size = 1 # largeur du trait
           ) +
  # ajout des barres d&#39;erreur
  geom_linerange(stat = &quot;summary&quot; # personnalise le calcul des barres d&#39;erreur
                 # fonction qui renvoie la moyenne 
                 # et l&#39;intervalle de confiance de la moyenne 
                 # à 95% selon une distribution de Student 
                 # à n-1 degrés de liberté
                 , fun.data = ~ mean_se(.x, mult = qt(0.975, length(.x) - 1))
                 , colour = &quot;grey20&quot;
                 , size = 1 
                 ) +
  # ajout des tailles d&#39;échantillonage
  annotate(&quot;text&quot;, x = 1:2, y = 75, label = paste(&quot;n =&quot;, n), family = &quot;xkcd&quot;)</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/bar-1.png" width="30%" /></p>
<blockquote>
<p><strong>Remarque :</strong> Le calcul des intervalles de confiance des moyennes correspond à
<span class="math display">\[ IC(95\%) = \mu \pm dispersion \times quantile(95\%)\]</span>
avec <span class="math inline">\(\mu\)</span> la moyenne des observations.</p>
<p>L’indicateur de dispersion est l’erreur-type <span class="math inline">\(se = \frac{sd}{\sqrt(n)}\)</span> (nous nous intéressons à la dispersion de la moyenne), avec <span class="math inline">\(sd\)</span> l’écart-type et <span class="math inline">\(n\)</span> le nombre d’observations.<br />
Les mesures sont continues, supposées normalement distribuées et <span class="math inline">\(n &lt; 30\)</span>, donc le choix de la distribution des données se porte sur une loi de Student à <span class="math inline">\(n-1 = 9\)</span> degrés de liberté.</p>
<p>Ainsi, en notant <span class="math inline">\(qt\)</span> le quantile de Student, on a :
<span class="math display">\[ IC(95\%) = \mu \pm \frac{sd}{\sqrt(n)} \times qt(95\%, n-1)\]</span>
N’oubliez pas d’adapter le choix de votre quantile aux hypothèses que valident (ou pas) vos données !</p>
</blockquote>
<p>Mais ces quatre derniers graphiques restent moins informatifs qu’un graphique qui conserve encore les observations les plus brutes possibles – surtout lorsque <code>n</code> est faible.
En effet, les trois premiers contiennent des calculs réduisant l’information des données brutes.
De plus, les densités et les diagrammes en boîtes et en bâtons ne montrent pas par défaut la taille du groupe d’échantillonnage, qu’il est (malheureusement) courant d’omettre.
Par ailleurs, la distribution sous-jacente des données est cachée dans les diagrammes en boîtes et en bâtons.
Comme l’histogramme n’est pas la représentation la plus aisée à lire au premier regard, vous pouvez utiliser <code>geom_jitter()</code> pour un petit nombre de points et <code>geom_violin()</code> pour un plus grand nombre de points.</p>
<p>Ci-dessous une proposition d’ajout des barres d’erreur dans un graphique conservant l’information des données brutes :</p>
<pre class="r"><code>base +
  geom_jitter(size = 1.5, width = 0.07, height = 0) +
  # ajout des barres d&#39;erreur, 
  # pointrange rajoute un point pour indiquer la position de la moyenne
  geom_pointrange(stat = &quot;summary&quot; 
                  , fun.data = ~ mean_se(.x, mult = qt(0.975, length(.x) - 1))
                  # décale les barres des observations
                  # pour éviter le chevauchement
                  , position = position_nudge(x = 0.1)
                  , colour = &quot;grey20&quot;
                  , size = 1
                  , fatten = 2 # règle la taille du point central
                  )</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/pointrange-1.png" width="30%" /></p>
<p>C’est donc ce que je vous recommande de faire à chaque fois que vous désirerez manger des cookies !</p>
<p>Comme le jeu de données est simulé (vos données dans vos rêves !), les intervalles de confiance ne se recoupent pas.
C’est un premier indicateur sympathique pour avancer que les moyennes sont statistiquement différentes avec un seuil de 5%.</p>
<p>Cela ne vous empêchera pas, bien entendu, de faire un modèle inférentiel pour vérifier plus rigoureusement ! Je rappelle à tout bon entendeur que nous avons formulé implicitement une hypothèse forte d’indépendance des données : pour prouver que les deux moyennes sont bien différentes, il faudrait vérifier s’il y a un effet <code>Cookie</code>.</p>
<p>Il existe tout de même un moyen de faire des barres d’erreur sans hypothèse de départ sur la distribution des observations, c’est le <strong>bootstrap</strong>.
Sans rentrer dans les détails<span class="citation"><sup><a href="#ref-bootstrap">7</a></sup></span>, c’est une méthode de rééchantillonnage non paramétrique donc moins puissante (il faudra davantage d’obervations pour détecter une différence qu’avec une méthode paramétrique).
En terme de code, avec <strong>ggplot2</strong>, il suffit de changer la fonction de calcul des erreurs :</p>
<pre class="r"><code>base +
  geom_jitter(size = 1.5, width = 0.07, height = 0) +
  # ajout des barres d&#39;erreur, 
  # pointrange rajoute un point pour indiquer la position de la moyenne
  geom_pointrange(stat = &quot;summary&quot; 
                  , fun.data = mean_cl_boot
                  # décale les barres des observations
                  # pour éviter le chevauchement
                  , position = position_nudge(x = 0.1)
                  , colour = &quot;grey20&quot;
                  , size = 1
                  , fatten = 2 # règle la taille du point central
                  )</code></pre>
<p><img src="{{< blogdown/postref >}}index_files/figure-html/bootstrap-1.png" width="30%" /></p>
</div>
<div id="remerciements" class="section level2">
<h2>Remerciements</h2>
<p>Spéciale dédicace à Christel Michel qui m’a fait prendre conscience à quel point il était urgent que je créée ce document. Merci Christel 😉 !<br />
Je remercie Tom Doizy pour l’illustration 3D de cookies trop la classe.<br />
Merci à mes fidèles relecteurs : Marion Ramos, Ismaël Houillon et Paola Campos.</p>
</div>
<div id="bibliographie" class="section level2 unnumbered">
<h2>Bibliographie</h2>
<div id="refs" class="references csl-bib-body" line-spacing="2">
<div id="ref-R" class="csl-entry">
<div class="csl-left-margin">1. </div><div class="csl-right-inline">R Core Team. <em><a href="https://www.R-project.org/">R: A language and environment for statistical computing</a></em>. (R Foundation for Statistical Computing, 2020).</div>
</div>
<div id="ref-dplyr" class="csl-entry">
<div class="csl-left-margin">2. </div><div class="csl-right-inline">Wickham, H., François, R., Henry, L. &amp; Müller, K. <em><a href="https://CRAN.R-project.org/package=dplyr">Dplyr: A grammar of data manipulation</a></em>. (2020).</div>
</div>
<div id="ref-ggplot" class="csl-entry">
<div class="csl-left-margin">3. </div><div class="csl-right-inline">Wickham, H. <em><a href="https://ggplot2.tidyverse.org">ggplot2: Elegant graphics for data analysis</a></em>. (Springer-Verlag New York, 2016).</div>
</div>
<div id="ref-ggplot2" class="csl-entry">
<div class="csl-left-margin">4. </div><div class="csl-right-inline">Wickham, H. <em>et al.</em> <em><a href="https://CRAN.R-project.org/package=ggplot2">ggplot2: Create elegant data visualisations using the grammar of graphics</a></em>. (2020).</div>
</div>
<div id="ref-wickham" class="csl-entry">
<div class="csl-left-margin">5. </div><div class="csl-right-inline">Wickham, H. &amp; Grolemund, G. <em><a href="https://r4ds.had.co.nz/">R for data science: Import, tidy, transform, visualize, and model data</a></em>. (" O’Reilly Media, Inc.", 2016).</div>
</div>
<div id="ref-poinsot" class="csl-entry">
<div class="csl-left-margin">6. </div><div class="csl-right-inline">Poinsot, D. <em><a href="https://perso.univ-rennes1.fr/denis.poinsot/">Statistiques pour statophobes</a></em>. (2004).</div>
</div>
<div id="ref-bootstrap" class="csl-entry">
<div class="csl-left-margin">7. </div><div class="csl-right-inline">Efron, B. <a href="http://www.jstor.org/stable/2958830">Bootstrap methods: Another look at the jackknife</a>. <em>The Annals of Statistics</em> <strong>7</strong>, 1–26 (1979).</div>
</div>
</div>
</div>
